<section class="about-me">
  <div class="flex flex--center first underline">
    <div class="col-50 flex flex--center before">

    </div>
    <div class="col-50 flex flex--center after">
      <div class="col-1">
        <h1>
          WHO AM I?
        </h1>
        <h2>
          My name is Matt, I love fitness and I want to help everyone get as fit as possible in
          the most sustainable way.
        </h2>
        <p>

        </p>
      </div>
    </div>
  </div>

  <div class="flex flex--center underline">
    <div class="col-50 flex flex--center before2">
      <h1>
        EARLY FITNESS
      </h1>
    </div>
    <div class="col-50 flex flex--center after2">
      <div class="col-1">
        <p>
          I have always been interested in fitness since I was young and have always been
          fairly fit. I first started working out when I was about 16 years old with a set of dumbells
          that I bought with my pocket money.
          <br>
          In my younger years I would play every sport I could but
          I spent most of my time playing football (soccer).
        </p>
      </div>
    </div>

  </div>


  <div class="flex flex--center underline">
    <div class="col-50 flex flex--center before2">
      <h1>
        TEENS AND TWENTIES
      </h1>
    </div>
    <div class="col-50 flex flex--center after2">
      <div class="col-1">
        <p>
          When I started working at the age of 18 I was able to pay for a gym membership
          at the local gym. This was when I started taking fitness a little more serious.
          My workouts consisted mostly of free weights and I was a big believer in
          lifting as heavy as possible, I rarely spent longer than 45 minutes in the gym.
          <br>
          In this time I made reasonable progress, I could bench press 100kg unassisted and
          my weight went from 70kg to almost 80kg. This did not come without a cost though
          as I suffered from back pain and tight muscles.
          <br>
          I spent a lot of time reading about fitness and it became an obsession to some extent.
        </p>
      </div>
    </div>
  </div>


  <div class="flex flex--center underline">
    <div class="col-50 flex flex--center before2">
      <h1>
        BUILT BY BODY-WEIGHT
      </h1>
    </div>
    <div class="col-50 flex flex--center after2">
      <div class="col-1">
        <p>
          After spending countless hours in the gym and spending over $100
          per week on a gym membership I became disillusioned and was no longer enjoying fitness
          like I used to. The amount of misinformation and lies within the fitness industry is staggering
          so I decided to go it alone and do my own thing.
          <br>
          At this time I came across the likes of Frank Medrano and I became immediately hooked on calisthenics.
          The strength developed performing these types of workouts seemed much more functional and rather than endlessly
          trying to bench press more weight I could focus on performing different skills.
        </p>
      </div>
    </div>
  </div>


  <div class="flex flex--center underline">
    <div class="col-50 flex flex--center before2">
      <h1>
        WHY TRUST ME?
      </h1>
    </div>
    <div class="col-50 flex flex--center after2">
      <div class="col-1">
        <p>
          I really am your average joe, I work as an engineer in Sydney, Australia but am originally from the UK.
          I do a lot of my workouts with my boss on our lunchbreak in the numerous outdoor gyms around Sydney.
          I truly believe that bodyweight workouts are the answer to not only keeping fit but also to obtaining
          the body you desire. I transformed my body whilst living a normal life and without spending hours in
          gym every day, if I can do it anybody can. If you're sick of the lies and dishonestly within the fitness
          industry then please give me a chance to guide you on your journey.
        </p>
      </div>
    </div>
  </div>

</section>
