<section class="section-coaching-content">
  <div class="coaching-header">
    <h1>
      COACHING
    </h1>
  </div>

  <div class="plans">
    <div class="twelve-week-trans plan">
      <div class="background">
        <h1>
          12 Week Transformation
        </h1>
      </div>
      <div class="info">
        <h4>12 Week Transformation</h4>
        <div class="list">
          <li>Build Muscle</li>
          <li>Get Shredded</li>
          <li>Learn new skills</li>
        </div>
        <p>This program will guide you every step of the way and give you a great introduction to calisthenics</p>
        <h5>$30</h5>
      </div>
    </div>
    <div class="Fat-to-Fit plan">
      <div class="background">
        <h1>
          Fat to Fit
        </h1>
      </div>
      <div class="info">
        <h4>Fat to Fit</h4>
        <div class="list">
          <li>Lose Fat</li>
          <li>Get Stronger</li>
          <li>Build Cardio Vascular Fitness</li>
        </div>
        <p>This program is focused at overweight individuals that are looking for a convenient yet effective fat loss solution </p>
        <h5>$30</h5>
      </div>
    </div>
    <div class="Pure-Muscle plan">
      <div class="background">
        <h1>
          Pure Muscle
        </h1>
      </div>
      <div class="info">
        <h4>Pure Muslce</h4>
        <div class="list">
          <li>Build Muscle</li>
          <li>Get Shredded</li>
          <li>Build extreme strength</li>
        </div>
        <p>This program is for individuals with a resonable level of fitness that what to take their training
        to the next level</p>
        <h5>$30</h5>
      </div>
    </div>
    <div class="But-Sculper plan">
      <div class="background">
        <h1>
          But Sculper
        </h1>
      </div>
      <div class="info">
        <h4>12 Week Transformation</h4>
        <div class="list">
          <li>Build Muscle</li>
          <li>Get Shredded</li>
          <li>Learn new skills</li>
        </div>
        <p>Lower body focused workouts that will give you that round pert bottom</p>
        <h5>$30</h5>
      </div>
    </div>


  </div>

</section>
