<section class="section-coaching-content">
  <div class="coaching-header">
    <h1>
      COACHING
    </h1>
  </div>

  <div class="plans">
    <div class="12-week-transformation plan">
      <div class="background">
        <h1>
          12 Week Transformation
        </h1>
      </div>
      <div class="info">
        <h4>12 Week Transformation</h4>
        <div class="list">
          <li>Build Muscle</li>
          <li>Get Shredded</li>
          <li>Learn new skills</li>
        </div>
        <p>This program will guide you every step of the way and give you a great introduction to calisthenics</p>
        <h5>$30</h5>
      </div>
    </div>
    <div class="skills plan">
      <h1>
        Skill Lessons
      </h1>
    </div>
    <div class="personal-coaching plan">
      <h1>
        Personal Coaching
      </h1>
    </div>

  </div>

</section>
