<footer class="home-footer">
  <section class="social-link">
    <ul class="social">
      <li>
        <a class="ease-all" href="#"><i class="fa fa-facebook"></i><span class="hide-text"></span></a>
      </li>
      <li>
        <a class="ease-all" href="https://www.instagram.com/builtbybodyweight/"><i class="fa fa-instagram"></i><span class="hide-text"></span></a>
      </li>
      <li>
        <a class="ease-all" href="#"><i class="fa fa-youtube"></i><span class="hide-text"></span></a>
      </li>
      <li>
        <a class="ease-all" href="mailto:builtbybodyweight@gmail.com"><i class="fa fa-envelope"></i><span class="hide-text"></span></a>
      </li>
    </ul>
  </section>
  <a class="mailto" href="mailto:builtbybodyweight@gmail.com">builtbybodyweight@gmail.com</a>
  <h4 class="footer-text">Copyright 2017 - Built By Bodyweight - All Rights Reserved</h4>
</footer>
