
<div class="mobile-nav">
  <ul>
    <li ><a href="{{ site.baseurl }}/">Home</a></li>
    <li ><a href="{{ site.baseurl }}/about.html">About</a></li>
    <li ><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
    <li ><a href="#plans">Plans</a></li>
    <li ><a href="#App">App</a></li>
  </ul>
</div>
<header>
  <div class="header-position">
    <h1 class="logo">
      Travis Neilson
    </h1>
    <nav class="site-nav">
      <ul>
        <li ><a class="home" href="{{ site.baseurl }}/">Home</a></li>
        <li ><a class="about" href="{{ site.baseurl }}/about.html">About</a></li>
        <li ><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
        <li ><a href="#plans">Plans</a></li>
        <li ><a href="#App">App</a></li>
      </ul>
    </nav>
    <section class="social-link">
      <ul class="social">
        <li>
          <a class="ease-all" href="#"><i class="fa fa-facebook"></i><span class="hide-text"></span></a>
        </li>
        <li>
          <a class="ease-all" href="https://www.instagram.com/builtbybodyweight/"><i class="fa fa-instagram"></i><span class="hide-text"></span></a>
        </li>
        <li>
          <a class="ease-all" href="#"><i class="fa fa-youtube"></i><span class="hide-text"></span></a>
        </li>
        <li>
          <a class="ease-all" href="mailto:builtbybodyweight@gmail.com"><i class="fa fa-envelope"></i><span class="hide-text"></span></a>
        </li>
      </ul>
    </section>


    <div class="mobile-nav-toggle"><span class="toggle-span"></span></div>
  </div>

</header>
