<section class="home-transformation">
  <div class="flex flex--center">
    <div class="col-50 flex flex--center before">
      <div class="col-1">
        <p class="home-lead">
          ...Before...
        </p>
        <a href="#" class="home-cta">Sign Up</a>
      </div>
    </div>
    <div class="col-50 flex flex--center after">
      <div class="col-1">
        <p class="home-lead">
          ...After...
        </p>
        <a href="#" class="home-cta">Transformation Plans</a>
      </div>
    </div>
  </div>
</section>
