<section class="what">
  <div class="flex flex--center">
    <div class="col-1">
      <p class="text">
        <strong>Built By Bodyweight</strong> was created with the aim of inspiring others
        to transform their bodies using just their own bodyweight as resistance, also known
        as calisthenics. Calisthenics is a fast growing area of fitness and that is for good reason,
         it is extremely effective at transforming your fitness.
         <br/>
         <br>
         Gyms have become synonymous with fitness but I and countless others are proof that
         a gym membership is not necessary to get into excellent shape.
         Cancel your gym membership right now and join the community.

      </p>
    </div>
    <div class="col-1 order-first ">
      <p class="home-lead outdented">
        ...Say goodbye to expensive gym memberships....
      </p>
      <a class="home-cta" href="#home-link">What is possible</a>
    </div>
  </div>
</section>
