<section class="why">

    <div class="header">
      <h1>
        Why Calisthenics
      </h1>
    </div>
    <div class="flex-container">
      <div class="lead-in">
        <p><span>There are numerous benefits to calisthenics and my Built By Bodyweight Programs
        but here are few of the key benefits</span></p>
      </div>
      <div class="list">
        <ul>
          <li title="text here">No gym membership required</li>
          <li>Workout pretty much anywhere</li>
          <li>Build muscle</li>
          <li>Get ripped extra quick</li>
          <li>Learn awesome new skills</li>
          <li>Build unparalled strength</li>
          <li>Perform workouts that not only prevent injuries but heal existing ones</li>
          <li>Be the master of your own body</li>
        </ul>

      </div>
    </div>



</section>
