@import url('https://fonts.googleapis.com/css?family=Montserrat')
$body-font-family: 'Montserrat', sans-serif

html
  font-family: $body-font-family
body
  margin: 0


section.blog-header

  height: 150px
  background:
    height: 250px
    image: url(../images/blog-header.png)
    position: center
    size: cover
  background-repeat: none
  align-items: center

  h1
    position: relative
    text-align: center
    font-size: 60px
    margin: 0
    top: 40%
    vertical-align: middle
