
.home-footer
  background-color: $color-secondary
  .social-link
    width: 225px
    margin: 0 auto
    padding: 5px
    padding-top: 15px
    background-color: $color-secondary

  .hide-text
    text-indent: 100%
    white-space: nowrap
    overflow: hidden
    display: block

  .ease-all
    transition: all 400ms ease-in-out

  .social
    height: 2rem
    list-style-type: none
    margin: 0
    padding: 0
    text-align: center


    li
      &:last-child a
        margin-right: 0
      a
        display: flex
        float: left
        width: 40px
        height: 40px
        margin-right: 1em
        text-align: center
        align-items: center
        justify-content: center
        border-radius: 40px
        box-shadow: inset 0 0 0 40px white
        color: $color-secondary


        &:hover
          box-shadow: inset 0 0 0 3px $color-primary
          color: $color-primary

        i





  .footer-text
    background: $color-secondary
    color: black
    font-size: $text-size-label
    font-weight: $text-weight-light
    width: 100%
    margin: 0
    text-align: center
    padding-bottom: 10px

  .mailto
    text-decoration: none
    color: $color-primary
    background: $color-secondary
    display: inline-block
    width: 100%
    line-height: 2.5
    text-align: center
    font-weight: $text-weight-regular
    transition: background 150ms ease-in-out

    &:hover

      font-weight: $text-weight-bold
