


section.what
  background-image: url(../images/group-workout.png)
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  color: white

  .home-cta
    font-size: $text-size-cta
    display: block
    background: white
    text-align: center
    text-decoration: none
    padding: 0.4em 0
    line-height: 1.25
    color: $color-primary
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2)
    transition: all 0.15s ease-in-out


    &:hover
      box-shadow: 0px 5px 14px rgba(0,0,0,0.4)

  strong
    font-weight: $text-weight-bold

  .col-1
    p.text
      line-height: 1.4
      text-align: justify
