section.home-transformation
  padding: 0px

  .home-lead
    text-align: center
    font-size: $text-size-cta
    color: $color-primary

  .before

    background-image: url(../images/me-before.jpg)
    background-position: center
    background-size: cover
    padding: 50px 0
    height: 450px
    font-weight: $text-weight-light
    .home-lead
      border-style: solid
      border-width: thin



  .after-background
    background-color: $color-secondary
    width: 50%



  .after

    background-image: url(../images/transformation-2.png)
    background-position: center
    background-size: cover
    padding: 50px 0
    height: 450px
    font-weight: $text-weight-light
    .home-lead
      border-style: solid
      border-width: thin

  p
    position: relative
    top: -20px
    text-align: center

  .home-cta
    font-size: $text-size-cta
    display: block
    background: $color-primary
    text-align: center
    text-decoration: none
    padding: 0.4em 0.4em
    line-height: 1.25
    color: white
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2)
    transition: all 0.15s ease-in-out
    margin-top: 300px

    &:hover
      box-shadow: 0px 5px 14px rgba(0,0,0,0.4)


@media (max-width: 640px)
  section.home-transformation
    .col-1
      p
        max-width: 170px
        margin: auto
