
@import url('https://fonts.googleapis.com/css?family=Montserrat')
$body-font-family: 'Montserrat', sans-serif

html
  font-family: $body-font-family
body
  margin: 0



section.post-wrap
  align-items: center
  width: 100%




  .stress
    font-size: 20px

  h2
    text-align: center
    font-weight: $text-weight-bold
    color: $color-text-slight-fade
    font-size: $text-size-title

  h4
    text-align: center
    color: $color-text-slight-fade


  p
    text-align: center
    margin: auto
    width: 70%
    max-width: 700px
    margin-bottom: 10px

  .blog-content

    .excerpt
      margin-top: 35px
      font-size: $text-size-subtitle
      font-weight: $text-weight-regular
      text-align: center
      margin-bottom: 15px
      color: $color-text-slight-fade

    .image-tag
      margin-bottom: 0

    .centre
      text-align: center
      display: block
      margin-left: auto
      margin-right: auto

    .colour
      color: $color-primary

    .website-link
      font-size: $text-size-subtitle
      text-align: center
      display: block
      margin-left: auto
      margin-right: auto
      text-decoration: none


    p
      text-align: justify
      img.img-responsive
        text-align: center

  .img-responsive
    width: 100%

  .blog-footer
    width: 100% !important
    max-width: 2000px !important
